/****************************************************************************
 * styles.css
 * Global CSS.
 ***************************************************************************/


#top
{
    position: absolute;
    width:99.9%;
    top:0px;
    bottom:40px;
    height:40px;
    z-index:2;
    background-color:#A51C30;
}

#middle
{
    /* center contents */
    /* text-align: center;*/
    position: absolute;
    width:99.9%;
    top:40px;
    bottom:0px;
    background-color:#FFFFFF;
    z-index:0;
}

#bottom
{
    /* shrink bottom's font size */
    font-size: smaller
    /* surround with whitespace */
    margin: 20px;
    /* center contents */
    text-align: center;
}

html, body {
    margin: 0px;
    padding: 0px;
    overflow: hidden; 
    overflow-x:auto;
    background-color:#ffffff;
}

#thread-container{
  position:relative;
  padding:1%;
  margin-left: 5px;
  margin-top: 5px;
  margin-right:0px;
  margin-bottom:-20px;
  max-height:562px;
  top:-10px;
	overflow:hidden;
	overflow-y:auto;
	overflow-x:hidden;
}

.logo:hover{
    text-decoration:none;
}

.container{
    position:relative;
}




.navigation{
  border: 1px solid #999;
 /* 
  float:left;*/
  position:absolute;
  width: 15.9%;
  left: 0%;
  top: 0%;
  background-color:#ffffff;
  padding-left:1%;
  padding-right:1%;
  padding-top:1%;
  height:100%;
}
.forum{
  border: 1px solid #999;
  /*
  float:left;*/
  position:absolute;
  left: 18%;
  top: 0%;
  width: 36%;
  padding-left:1%;
  padding-top:1%;
  height:100%;
}

.thread{
	border: 1px solid #999;
	position:absolute;
	left: 55.1%;
	top: 0%;
	/*
	float:right;*/
	height:100%;
	width: 44.55%;
	overflow:hidden;
	padding:1%;
	padding-right:0%;
	padding-left:0%;
}


.course-container{
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.3);
  *border: 1px solid #999;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.tooltip{
    width:100px;
}

.course{
  border-top: 1px solid #999;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  *border-top: 1px solid #999;
          padding:4px;
          -webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}
.course:hover{
   background-color: #f9f9f9;
   cursor:pointer;
}

.tagcontainer{
    margin-top:5px;
    margin-left:10px;
}

.post-container{
    /*margin-top:5px;*/
    position:relative;
    left:0%;
	width: 100%;
    top:0px;
    bottom:10px;
    overflow:hidden;
    overflow-y:auto;
}

.discusstag{
  background-color: #002faa;
  *background-color: #003bb3;
}

.post{
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.3);
  *border: 1px solid #999;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
          margin-top:2px;
    position: relative;
    height:45px;
    margin-right:10px;
  cursor:pointer;
}
.post:hover {
          background-color: #f8f8f8;
}


.posttitle{
  margin-top: 2px;
  margin-left: 5px;
  font-weight: bold;
  position: relative;
  top: -50%;
  left:60%;
  color: black;
  width:38%;
	white-space: nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}

.postauthor{
    margin-top: 2px;
    margin-right: 5px;
    position: absolute;
    left: 2.5%;
    top: 50%;
    
}

.postdate{
    margin-top: 2px;
    margin-right: 5px;
    position: absolute;
    left: 60%;
    top: 50%;
}

.posttags{
  margin-top: 3px;
  margin-left: 12px;

}

.tagcontainer{
    line-height: 110%;
}

#askModal .modal-body {
	max-height: 650px;
}


#askModal {
	width: 650px; /* SET THE WIDTH OF THE MODAL */
	/*margin: -400px 0 0 -325px; /* CHANGE MARGINS TO ACCOMODATE THE NEW WIDTH (original = margin: -250px 0 0 -280px;) */
}

.post-thread-view{
    position:relative;
    width:44.6%
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.3);
  *border: 1px solid #999;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  padding-left:3px;
}

.post-thread-view-tag{
    position: relative;
    width:160px; display:inline;
}

.post-thread-view-title{
    position:relative; text-align:left; 
    left:20px;
    font-size:15px;
    font-weight:bold;
    width:20%;
    display:inline;
    
    
    margin-top:2px;
}

.post-thread-view-poster{
    float:right;
    position:relative; 
     text-align:right;
    
}
.post-thread-view-body{
    position:relative;left:2%;
    margin-right:10px;
}
.own{
right:35px; 
}
.post-thread-view-vote{
    position:relative;bottom: 10px;right:-40%;line-height:70%;
}

.reply-post{
    position:relative;
    width:44.6%
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.3);
  *border: 1px solid #999;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  padding-left:3px;
  margin-left:15px;
  margin-top:5px;
}
.reply-post-poster{
    position:relative; width:160px;
}
.reply-post-body{
    position:relative;top:2px; left:2%;
    margin-right:10px;
}
.reply-post-vote{
    position:relative;bottom: 10px;right:-40%;line-height:70%;
}

#reply{
    width: 95%;
    height: 75px;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, 0.3);
    *border: 1px solid #999;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;

    margin-left:15px;

}

.upvote{
position:relative;
background-image:url('../img/sprite.png');
background-position: 0px -365px;
display: block;
margin: 0 auto;
width: 41px;
height: 25px;
top:5px;
text-align:center;
}
.downvote{
position:relative;
background-image:url('../img/sprite.png');
background-position: 0px -300px;
display: block;
margin: 0 auto;
width: 41px;
height: 25px;
top:-5px;
text-align:center;
}
.upvote:hover{
    text-decoration:none;
}
.downvote:hover{
    text-decoration:none;
}

.push-notification {
    background-color: #000;
    position: fixed;
    right: 20px;
    bottom: 20px;
    color: #fff;
    padding: 15px 15px 15px 30px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-position: 7px center;
    opacity: 0;
    filter: 0;
    vertical-align: middle;
    box-shadow: 4px 4px 4px #000;
    -webkit-box-shadow: 4px 4px 4px #000;
    -moz-box-shadow: 4px 4px 4px #000;
}
.addcoursebutton{
    width:28px;
    padding-left:8px;
    font-weight:bold;
    color:#999;
    display:none;
}
.addcoursebutton:hover{/*
    text-decoration:none;
    color:#555;*/
}

#reply-collapse{
    background-color:#ededed; 
    margin:0;
    height:25px;
    line-height:200%;
}
#reply-collapse:hover{
    background-color:#dddddd; 
cursor:pointer;
}
#reply-area{
    padding:10px;
}
