/****************************************************************************
 * styles.css
 * Global CSS.
 ***************************************************************************/

#top
{
    position: absolute;
    width:99.9%;
    top:0px;
    bottom:40px;
    height:40px;
    z-index:2;
    background-color:#A51C30;
}

#start_container 
{
/*    background-color:transparent;*/
/*    background-attachment: fixed;*/
/*    background-position:left center;*/
/*    background-repeat:no-repeat;*/
/*    background-size:cover;*/
    background-image: url("/img/Harvard-Yard-HDR-PHOTO.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
/*    background-color: #BBBBBB;*/
    position: absolute;
    width:100%;
    top:0px;
    bottom:0px;
    overflow:auto;
}

#registration
{
    position: absolute;
    top:300px;
    right: 60px;
    padding: 8px;
    border: 1px solid rgba(0, 0, 0, 0.3);
   *border: 1px solid #999;
   -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
           border-radius: 4px;
    background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
    -moz-box-shadow:    2px 2px 5px 0px #111;
  -webkit-box-shadow:   2px 2px 5px 0px #111;
  box-shadow:           2px 2px 5px 0px #111;
}

#login
{
    position: absolute;
    top:180px;
    right: 60px;
    padding: 8px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  *border: 1px solid #999;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
    background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
    -moz-box-shadow:    2px 2px 5px 0px #111;
  -webkit-box-shadow:   2px 2px 5px 0px #111;
  box-shadow:           2px 2px 5px 0px #111;
}

#welcome-header
{
    position: absolute;
    left: 80px;
    top: 230px;
    width: 700px;
    color: #FFFFFF;
    text-shadow: 2px 2px 1px black;
}
#welcome-info
{
    position: absolute;
    left: 83px;
    top:300px;
    width: 700px;
    color: #FFFFFF;
    text-shadow: 2px 2px 0px black;
}

#middle
{
    /* center contents */
    /* text-align: center;*/
    position: absolute;
    width:100%;
    top:40px;
    bottom:0px;
}

#bottom
{
    /* shrink bottom's font size */
    font-size: smaller
    /* surround with whitespace */
    margin: 20px;
    /* center contents */
    text-align: center;
}

html, body {
    margin: 0px;
    padding: 0px;
    overflow: hidden; 
    overflow-x:auto;
    background-color:#A51C30;
    font-family: "Helvetic Neue", Arial, sans-serif;
}

.typeahead{
    z-index:2000;
}

#thread-container{
  position:relative;
  padding:1%;
  margin-left: 5px;
  margin-top: 5px;
  margin-right:0px;
  margin-bottom:-20px;
  max-height:562px;
  top:-10px;
	overflow:hidden;
	overflow-y:auto;
	overflow-x:hidden;
}

.logo:hover{
    text-decoration:none;
}

.container{
    position:relative;
}

.navigation{
  border: 1px solid #555;
 /* 
  float:left;*/
  position:absolute;
  width: 15.9%;
  left: 0%;
  top: 0%;
  background-color:#ffffff;
	bottom: 0px;
  padding-left:1%;
  padding-right:1%;
  padding-top:1%;
  /*height:100%;*/
          overflow:auto;
  background-color:#F5F5DC;
}
.forum{
  border: 1px solid #555;
  /*
  float:left;*/
  position:absolute;
  left: 18%;
  top: 0%;
	bottom: 0px;
  width: 36%;
  padding-left:1%;
  padding-top:1%;
  /*height:100%;*/
  background-color:#F5F5DC;
}

.thread{
	/*border: 1px solid #555;*/
	border: 1px solid #555;
	position:absolute;
	left: 55.1%;
	top: 0%;
	bottom: 0px;
	/*
	float:right;*/
	/*height:100%;*/
	/*width: 44.55%;*/
	overflow:hidden;
	padding:1%;
	padding-right:0%;
	padding-left:0%;
	margin:0;
  background-color:#F5F5DC;
}


.course-container{
  border: 1px solid #999;
  border-top:0px;

  border: 1px solid rgba(0, 0, 0, 0.3);
  *border: 1px solid #999;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
          background-color:white;

  box-shadow: 2px 2px 5px 1px #BBBBBB;
}

.tooltip{
    width:100px;
}

.course{
  border-top: 1px solid #999;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  *border-top: 1px solid #999;
          padding:4px;
          -webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}
.course:hover{
   background-color: #f9f9f9;
   cursor:pointer;
}

.tagcontainer{
    margin-top:5px;
    margin-left:10px;
}

.post-container{
    /*margin-top:5px;*/
    position:relative;
    left:0%;
	width: 100%;
    top:0px;
    bottom:10px;
  max-height:585px;
  padding-bottom:4px;
    overflow:hidden;
    overflow-y:auto;
}

.discusstag{
  background-color: #002faa;
  *background-color: #003bb3;
}

.post{
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.3);
  *border: 1px solid #999;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
          margin-top:2px;
    position: relative;
    height:45px;
    margin-right:10px;
  cursor:pointer;
  background-color:white;
  box-shadow: 1px 1px 5px 1px #BBBBBB;
}
.unread{
  border: 1px solid #A54D60;
  *border: 1px solid #A53D50;
  background-color:#FAF1E9;
}
.post:hover {
          background-color: #f8f8f8;
}
.unread:hover{
  background-color:#F6E1E1;
}



.posttitle{
  margin-top: 2px;
  margin-left: 5px;
  font-weight: bold;
  position: relative;
  top: -50%;
  left:60%;
  color: black;
  width:38%;
	white-space: nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}

.postauthor{
    margin-top: 2px;
    margin-right: 5px;
    position: absolute;
    left: 2.5%;
    top: 50%;
    color:#306586;
    
}

a{
    color:#000080;
}
a:hover{
    color:#000080;
}

.postdate{
    margin-top: 2px;
    margin-right: 5px;
    position: absolute;
    right: 5%;
    top: 50%;
    color:#306586;
}

.posttags{
  margin-top: 3px;
  margin-left: 12px;

}

.tagcontainer{
    line-height: 110%;
}

#askModal .modal-body {
	max-height: 650px;
}


#askModal {
	width: 650px; /* SET THE WIDTH OF THE MODAL */
	/*margin: -400px 0 0 -325px; /* CHANGE MARGINS TO ACCOMODATE THE NEW WIDTH (original = margin: -250px 0 0 -280px;) */
}

.post-thread-view{
    position:relative;
    width:44.6%
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.3);
  *border: 1px solid #999;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  padding-left:3px;
  padding-bottom:40px;
  min-height:100px;
  background-color:white;

  box-shadow: 2px 2px 2px 1px #BBBBBB;
}

.post-thread-view-tag{
    position: relative;
    width:160px; display:inline;
}

.post-thread-view-title{
    position:relative; text-align:left; 
    left:20px;
    font-size:15px;
    font-weight:bold;
    width:20%;
    display:inline;
    
    
    margin-top:2px;
}

.seenby{
    text-align:center;
    color:#306586;
    font-size:small;
}

.post-thread-view-poster{
    float:right;
    position:relative; 
     text-align:right;
    
}
.post-thread-view-vote{
position:relative;top: 10px;left:0%;line-height:70%;float:left;z-index:1;
text-align:center;
}

.findperson{
    width:130px;
}

#inviteexpert{
    position:absolute;
    margin-right:5px;
    bottom:5px;
    right:10%;
}

.reply-post{
    position:relative;
    width:44.6%
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.3);
  *border: 1px solid #999;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  padding-left:3px;
  margin-left:15px;
  margin-top:5px;
  min-height:130px;
  background-color:white;

  box-shadow: 1px 1px 5px 1px #BBBBBB;
}
.reply-post-poster{
    position:relative; width:200px; text-align:center;
}
.post-body{
    position:relative;top:2px; left:2%;
    margin-right:10px;
    margin-bottom:3px;
    
}
.reply-post-vote{
    position:relative;bottom: 10px;right:0%;line-height:70%;float:left;z-index:1;text-align:center;
}

#reply{
    width: 95%;
    height: 75px;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, 0.3);
    *border: 1px solid #999;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;

    margin-left:15px;

}

.upvote{
position:relative;
background-image:url('../img/sprite.png');
background-position: 0px -365px;
display: block;
margin: 0 auto;
width: 41px;
height: 25px;
top:5px;
text-align:center;
}
.downvote{
position:relative;
background-image:url('../img/sprite.png');
background-position: 0px -300px;
display: block;
margin: 0 auto;
width: 41px;
height: 25px;
top:-5px;
text-align:center;
}
.votedup{
position:relative;
background-image:url('../img/sprite.png');
background-position: 0px -405px;
display: block;
margin: 0 auto;
width: 41px;
height: 25px;
top:0px;
text-align:center;
}
.voteddown{
position:relative;
background-image:url('../img/sprite.png');
background-position: 0px -335px;
display: block;
margin: 0 auto;
width: 41px;
height: 25px;
top:-5px;
text-align:center;
}
.upvote:hover{
    text-decoration:none;
}
.downvote:hover{
    text-decoration:none;
}

.push-notification {
    background-color: #000;
    position: fixed;
    right: 20px;
    bottom: 20px;
    color: #fff;
    padding: 15px 15px 15px 30px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-position: 7px center;
    opacity: 0;
    filter: 0;
    vertical-align: middle;
    box-shadow: 4px 4px 4px #000;
    -webkit-box-shadow: 4px 4px 4px #000;
    -moz-box-shadow: 4px 4px 4px #000;
}
.addcoursebutton{
    width:28px;
    padding-left:8px;
    font-weight:bold;
    color:#999;
    display:none;
}
.addcoursebutton:hover{/*
    text-decoration:none;
    color:#555;*/
}

#reply-collapse{
    background-color:#6666FF; 
    color:#FFFFFF;
    text-align:center;
    margin:0;
    height:25px;
    line-height:200%;
    -mox-box-shadow: inset 0 0 8px;
    -webkit-box-shadow: inset 0 0 8px;
    box-shadow: inset 0 0 8px;
}
#reply-collapse:hover{
    background-color:#5555EE;  
cursor:pointer;
}
#reply-area{
    margin:10px;
}

.editfield{
border: 0; overflow: auto; resize: none;
position:relative;
left:8%;
top:-30px;
width:85%;
}
.edit-submit{
    position: relative; right:2%; float:right;
}
.editpostbutton{
position:relative; top:4px;
}

.removepost{
z-index:-1
}


